

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


div[data-testid="slackUserName"] {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}


img[data-testid="slackDisplayImage"] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

div[data-testid="currentDayOfTheWeek"] {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
}


div[data-testid="myTrack"] {
    font-size: 20px;
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
}


a[data-testid="githubURL"] {
    display: block;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}


div[data-testid="currentUTCTime"] {
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}


